version: "3.8"

services:
  # ---------------------------------------------------
  # ZOOKEEPER
  # ---------------------------------------------------
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    networks:
      - bigdata

  # ---------------------------------------------------
  # KAFKA BROKER
  # ---------------------------------------------------
  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_CREATE_TOPICS: "events:1:1" # topic: events, partitions:1, replication-factor:1
    depends_on:
      - zookeeper
    networks:
      - bigdata
  
  # ---------------------
  # KAFKA-UI
  # ---------------------
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - bigdata

  # ---------------------------------------------------
  # PRODUCER kafka / from JSON to KAFKA
  # ---------------------------------------------------
  producer:
    build:
      context: .
      dockerfile: docker-kafka/producer/Dockerfile
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
      KAFKA_TOPIC: events
    depends_on:
      - kafka
    networks:
      - bigdata

  # ---------------------------------------------------
  # CONSUMER kafka
  # ---------------------------------------------------
  consumer:
    build: ./docker-kafka/consumer
    environment:
      KAFKA_BOOTSTRAP: kafka:9092
      KAFKA_TOPIC: events
    depends_on:
      - kafka
    networks:
      - bigdata

  # ---------------------
  # MINIO (S3)
  # ---------------------
  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - bigdata

  # ---------------------
  # MINIO CLIENT
  # ---------------------
  mc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 admin admin123 &&
      mc mb -p local/datalake/events &&
      mc mb -p local/datalake/checkpoints
      "
    networks:
      - bigdata

  # ---------------------
  # SPARK STREAMING
  # ---------------------
  spark:
    build: ./docker-spark
    command: >
      /opt/spark/bin/spark-submit --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.4.0 --conf spark.hadoop.fs.s3a.endpoint=http://minio:9000 --conf spark.hadoop.fs.s3a.access.key=admin --conf spark.hadoop.fs.s3a.secret.key=admin123 --conf spark.hadoop.fs.s3a.path.style.access=true /app/spark-streaming.py
    environment:
    - SPARK_MODE=master
    - SPARK_RPC_AUTHENTICATION_ENABLED=no
    - SPARK_MASTER_HOST=spark
    depends_on:
      - kafka
      - minio
    networks:
      - bigdata
    ports:
      - "8090:8090"   # Spark UI
      - "7077:7077"   # Spark Master

networks:
  bigdata:
    driver: bridge

volumes:
  minio_data: